* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.headermobile {
  display: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: max-content;
  z-index: 99;
  opacity: 1;
  transition: opacity 0.7s, transform 0.5s;
  transform: translateY(0);
}
a {
  text-decoration: none;
  color: black;
}

.header_top {
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.header_top div {
  position: absolute;
}
.header_top div h1 {
  font-size: 40px;
  margin: 0;
}
.header_top div:nth-child(1) {
  width: 10%;
  left: 2%;
  bottom: 15%;
}
.header_top div input[type="search"] {
  border: none;
  border-bottom: 1px solid rgb(156, 154, 154);
  outline: none;
  color: #333;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  padding-bottom: 5px;
  background-color: whitesmoke;
}

.header_top div:nth-child(2) {
  width: 45%;
  left: 17%;
  bottom: 25%;
}
.header_top div:nth-child(2) i {
  position: absolute;
  right: 0;
  bottom: 20%;
  font-size: 25px;
}
.header_top div:nth-child(3) {
  width: 20%;
  left: 65%;
  height: 100%;
}
.header_top div:nth-child(3) i {
  position: absolute;
  top: 25%;
  font-size: 40px;
  width: auto;
}
.header_top div:nth-child(3) span {
  position: absolute;
  font-size: 20px;
  left: 17%;
}
.header_top div:nth-child(3) span:nth-child(2) {
  opacity: 0.8;
  top: 25%;
}
.header_top div:nth-child(3) span:nth-child(3) {
  top: 49%;
  color: #01aa90;
  font-weight: bold;
}

.header_top a {
  position: absolute;
  text-decoration: none;
  height: auto;
  padding: 11px 20px;
  color: white;
  border-radius: 20px;
  border: none;
}
#dangky {
  background-color: whitesmoke;
  color: black;
  right: 12%;
}
#dangnhap {
  background-color: #01aa90;
  color: white;
  right: 4%;
}
.header_middle {
  width: 100%;
  height: 70px;
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  background-color: white;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
}
.header_middle ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.header_middle ul li a:hover {
  color: #40a578;
}
.header_middle ul li a {
  font-size: 25px;
  display: block;
  border-radius: 20px;
  text-decoration: none;
  margin: 20px 35px auto;
  color: black;
}
.header_middle ul i {
  position: absolute;
  top: 43%;
  font-size: 11px;
  margin-left: 5px;
  transition: transform 0.2s ease;
}

.header_bot {
  width: 13%;
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
  background-color: white;
  left: 35%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header_bot ul li a:hover {
  color: #01aa90;
}
.header_bot ul {
  list-style: none;
}
.header_bot ul li a {
  font-size: 25px;
  padding: 15px 0;
  display: block;
  text-align: center;
}
h1 {
  margin: 30px 0;

  font-size: 40px;
  /* text-align: center; */
  margin-left: 100px;
  transform: scaleX(0.9);
}
.h1 {
  margin-top: 80px;
}

.anh {
  position: relative;
  top: 50px;
  width: 100%;
  height: 450px;
  margin: auto;
  overflow: hidden;
}
.slider {
  position: absolute;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  bottom: 30px;
  left: 50%;
  width: 38%;
  height: 280px;
  margin: auto;
  overflow: hidden;
}
.anh .list1 {
  position: absolute;
  left: 0;
  top: 0;
  width: max-content;
  height: 100%;
  display: flex;
  transition: 1s;
}

.anh .list1 img {
  width: 14680px;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
}

.anh .slider .list {
  position: absolute;
  left: 0;
  top: 0;
  width: max-content;
  height: 100%;
  display: flex;
  transition: 1s;
}
.anh .slider .list img {
  width: 768px;
  height: 100%;
  object-fit: cover;
}
.buttons {
  position: absolute;
  top: 40%;
  left: 0%;
  right: 0;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.buttons button {
  width: 35px;
  height: 35px;
  font-size: 13px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50%;
  font-weight: bold;
  line-height: 45px;
  display: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.slider:hover .buttons button {
  display: flex;
}

.dots {
  position: absolute;
  bottom: 10px;
  color: white;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.dots li {
  width: 10px;
  height: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 20px;
  transition: 1s;
}
.dots li.active {
  width: 30px;
}

.content a:hover + #triangle {
  display: block;
  transition: all 0.5s ease;
}

.content {
  background-color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: absolute;
  bottom: 30px;
  left: 12.1%;
  width: 38%;
  height: 280px;
  z-index: 3;
}
.content p {
  position: absolute;
  color: black;
  margin: 30px;
  font-size: 40px;
  font-weight: b;
}
.content span {
  color: black;
  position: absolute;
  font-size: 18px;
}
.content .span1 {
  margin: 30px;
  margin-top: 0;
  top: 30%;
  font-weight: 500;
}
.content .span2 {
  top: 40%;
  left: 5%;
  width: 80%;
  overflow: hidden;
  height: 45px;
  font-weight: 20;
  font-size: 19px;
  text-align: justify;
}
.content .span3 {
  font-weight: 900;
  top: 65%;
  margin-left: 30px;
}
.content .span4 {
  top: 65%;
  left: 50%;
  font-weight: 900;
}
.content .span5 {
  top: 80%;
  margin-left: 30px;
}
.content .span6 {
  top: 80%;
  left: 50%;
}
.content .span7 {
  top: 90%;
  margin-left: 30px;
  font-size: 14px;
  opacity: 0.6;
}
.content a {
  color: black;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  top: 55%;
  left: 5%;
}

#triangle {
  position: absolute;
  top: 55%;
  left: 18%;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.624);
  display: none;
}
.content a:hover .infomation {
  display: block;
}
.infomation {
  position: absolute;
  z-index: 3;
  color: white;
  font-size: 17px;
  width: 500px;
  height: 150px;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.767);
  border-radius: 20px;
  line-height: 25px;
  top: 50%;
  left: 19.5%;
  border: 1px solid rgb(131, 128, 128);
  display: none;
}
.infomation p {
  width: 470px;
  text-align: justify;
  margin-left: 10px;
}

.dichvu p {
  font-size: 20px;
  margin: 10px;
}
.dichvu {
  position: relative;
  width: 100%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.dichvu div {
  position: relative;
  width: 300px;
  height: 331px;
  border: 1px solid rgb(213, 210, 210);
  border-radius: 20px;
  margin: 10px;
}
.dichvu div:hover {
  box-shadow: 0 0 5px 2px rgb(243, 233, 233);
  transition: 0.25s ease;
}

.dichvu img {
  width: 100%;
  height: 40%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.dichvu span {
  font-size: 15px;
  opacity: 0.6;
  padding: 3px;
  background-color: rgb(246, 242, 242);
}
.dichvu span:nth-child(3) {
  margin-left: 10px;
}
.dichvu span:nth-child(4) {
  margin-left: 5px;
}
.dichvu p:nth-child(5) {
  position: absolute;
  top: 65%;
  font-size: 17px;
  opacity: 0.6;
}
.dichvu p:nth-child(6) {
  position: absolute;
  bottom: 2%;
}

.dichvu p span {
  background-color: white;
  font-size: 17px;
  color: orange;
  opacity: 3;
  font-weight: bold;
}

.dichvu p i {
  font-size: 14px;
  color: orange;
  font-weight: bold;
}
.btn {
  --color: #01aa90;
  --color2: #ffffff;
  padding: 0.8em 1.75em;
  background-color: black;
  border-radius: 20px;
  border: 0.3px solid var(--color);
  transition: 0.5s;
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-size: 13px;
  font-weight: bold;
  font-family: "Roboto", "Segoe UI", sans-serif;
  color: white;
  bottom: 3%;
  right: 5%;
  width: 110px;
  height: 40px;
}

.btn::after,
.btn::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: var(--color);
}

.btn::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}

.btn:hover {
  color: var(--color2);
}
.diadiemdulich {
  position: relative;
  width: 100%;
  height: 720px;
}
.diadiemdulich div {
  border: 1px solid rgb(213, 210, 210);
  position: absolute;
  width: 37%;
  height: 230px;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.diadiemdulich div:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 5px 2px rgb(188, 187, 187);
}
.diadiemdulich div:nth-child(1) {
  left: 12%;
}
.diadiemdulich div:nth-child(3) {
  left: 12%;
  top: calc(230px + 2%);
}
.diadiemdulich div:nth-child(5) {
  left: 12%;
  top: calc(460px + 4%);
}
.diadiemdulich div:nth-child(2) {
  right: 12%;
}
.diadiemdulich div:nth-child(4) {
  right: 12%;
  top: calc(230px + 2%);
}
.diadiemdulich div:nth-child(6) {
  right: 12%;
  top: calc(460px + 4%);
}

.diadiemdulich div img {
  height: 100%;
  width: 35%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.diadiemdulich div p {
  font-size: 21px;
  top: 8%;
  position: absolute;
  left: 40%;
  margin-top: 10px;
  opacity: 0.8;
  font-weight: bold;
  opacity: 0.8;
}
.diadiemdulich div span {
  position: absolute;
  font-size: 18px;
  top: 25%;
  left: 40%;
  opacity: 0.8;
  margin-right: 25px;
  text-align: justify;
}
.diadiemdulich div a {
  position: absolute;
  top: 85%;
  left: 40%;
  font-size: 18px;
}
.diadiemdulich div a:hover {
  color: rgb(255, 111, 0);
  text-shadow: rgb(255, 111, 0);
}
.diadiemdulich div a i {
  font-size: 14px;
}
.feedback-mobile {
  display: none;
}

.feedback {
  width: 100%;
  height: 250px;
  max-width: 100vw;
  position: relative;
  overflow: hidden;
  margin: auto;
}
.feedback .list-feedback {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  width: max-content;
  transition: 0.5s;
}
.feedback .list-feedback .item {
  width: 100vw;
  box-sizing: border-box;
  max-width: 100vw;
  height: 100%;
  justify-content: space-around;
  display: flex;
  position: relative;
}
.feedback .list-feedback .item div {
  width: 37%;
  height: 250px;
  border: 1px solid rgb(213, 210, 210);
  border-radius: 20px;
  display: block;
  position: absolute;
}
.feedback .list-feedback .item .item1 {
  left: 12%;
  top: 0;
}
.feedback .list-feedback .item .item2 {
  right: 13%;
  top: 0;
}
.feedback .list-feedback .item .item3 {
  left: 12%;
  top: 0;
}
.feedback .list-feedback .item .item4 {
  right: 13%;
  top: 0;
}
.feedback .list-feedback .item .item5 {
  left: 12%;
  top: 0;
}
.feedback .item i {
  color: orange;
  position: absolute;
}

.feedback .item div i:nth-child(1) {
  top: 8%;
  left: 3%;
}
.feedback .item div i:nth-child(2) {
  top: 8%;
  left: 6%;
}
.feedback .item div i:nth-child(3) {
  top: 8%;
  left: 9%;
}
.feedback .item div i:nth-child(4) {
  top: 8%;
  left: 12%;
}
.feedback .item div i:nth-child(5) {
  top: 8%;
  left: 15%;
}
.feedback .item div p:nth-child(6) {
  position: absolute;
  font-size: 17px;
  left: 3%;
  top: 17%;
  opacity: 0.8;
}
.feedback .item p a {
  color: blue;
  opacity: 0.9;
}
.feedback .item div p:nth-child(7) {
  position: absolute;
  font-size: 17px;
  left: 3%;
  top: 26%;
  opacity: 0.8;
}

.feedback .item div p:nth-child(8) {
  position: absolute;
  font-size: 17px;
  left: 3%;
  top: 36%;
  width: 95%;
  height: 140px;
  overflow: auto;
  opacity: 0.8;
  line-height: 1.4;
  background-color: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  text-align: justify;
}

.buttonss {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
}
.buttonss button {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white;
  color: whitesmoke;
  border: none;
  font-family: monospace;
  font-weight: bold;
  border: 1px solid rgb(234, 229, 229);
}
.buttonss button i {
  color: black;
}
.buttonss .prev1 {
  top: 0;
  left: 4%;
}
.buttonss .next1 {
  top: 0;
  right: 4%;
}
.buttonss .next1:hover i,
.buttonss .prev1:hover i {
  color: #01aa90;
}
.buttonss .next1:hover,
.buttonss .prev1:hover {
  background-color: black;
  transition: 0.3s ease;
}

.xuhuong {
  position: relative;
  width: 100%;
  height: 350px;
}
.xuhuong .slider-img {
  width: 76%;
  position: absolute;
  left: 12%;
  height: 200px;
  margin: auto;
  overflow: hidden;
}
.xuhuong .slider-img .list-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  width: max-content;
  transition: 0.5s ease-in-out;
}
.xuhuong .slider-img .list-item .item {
  width: 100vw;
  box-sizing: border-box;
  max-width: 100vw;
  height: 100%;
  display: flex;
  justify-content: c;
}
.xuhuong .slider-img .list-item .item div {
  width: 18%;
  height: 100%;
  margin-left: 10px;
}
.xuhuong .list-item div img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 25px;
}
.xuhuong .list-item div a {
  position: relative;
  font-size: 18px;
  left: 0px;
  top: 0px;
  font-weight: 530;
}
.buttonsss {
  position: absolute;
  top: 17%;
  left: 5%;
  width: 90%;
  display: none;
}

.xuhuong .content1 {
  width: 76%;
  height: 135px;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: #212121;
  position: absolute;
  left: 12%;
  top: 200px;
  overflow: hidden;
  text-align: justify;
}

.xuhuong .content1 p {
  margin-bottom: 10px;
}

.xuhuong .content1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}
.xuhuong a {
  position: absolute;
  font-size: 17px;
}
.xuhuong .xemthem {
  top: 345px;
  left: 12%;
}

.xuhuong .xemithon {
  top: 1370px;
  left: 12%;
  display: none;
}
.xuhuong .xemthem:hover,
.xuhuong .xemithon:hover {
  color: #24a08d;
}
.thongtin {
  position: relative;
  width: 76%;
  left: 12%;
  height: max-content;
  border-radius: 10px;
  border: 1px solid #34495e;
  transition: 1s ease;
}
.thongtin div {
  position: relative;
  left: 2%;
  width: 96%;
  height: 62px;
  border-bottom: 1px dashed;
  border-image: linear-gradient(
      to right,
      transparent,
      #b92b27,
      #1565c0,
      transparent
    )
    1;
  overflow: hidden;
  transition: height 0.5s ease;
  cursor: pointer;
}
.thongtin div i {
  position: absolute;
  top: 0;
  right: 0;
  padding: 22px 0;
  font-size: 18px;
  opacity: 0.7;
  color: #34495e;
}
.thongtin div:last-child {
  border: none;
}
.thongtin div h2 {
  padding: 17px 0;
  opacity: 0.8;
}
.thongtin div p {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  padding-bottom: 15px;
  text-align: justify;
}

.footer {
  margin-top: 50px;
  background-color: #b4f8e457;
  width: 100%;
  height: 400px;
}
.footer .row {
  display: flex;
}
.footer .row .column {
  position: absolute;
  margin-top: 40px;
  width: 20%;
}
.footer .row .column:first-child {
  left: 15%;
}
.footer .row .column:nth-child(2) {
  left: 43%;
}
.footer .row .column:nth-child(3) {
  right: 15%;
}
.footer .row .column:nth-child(4) {
  right: 4%;
}

.footer .desc {
  margin-top: 10px;
  color: black;
  opacity: 0.6;
  font-size: 20px;
  line-height: 28px;
}

.footer h3 {
  font-size: 25px;
  color: black;
}

.footer .list li {
  margin-top: 15px;
  font-size: 20px;
}
.footer .list li a {
  position: relative;
  color: black;
}
.footer .column:nth-child(2) .list li a i,
.footer .column:nth-child(3) .list li a i {
  font-size: 12px;
}
.footer .column:nth-child(2) .list li a:hover,
.footer .column:nth-child(3) .list li a:hover {
  border-bottom: 1px solid black;
}
.footer strong {
  color: black;
}
.footer span {
  color: black;
}
.footer ul {
  list-style: none;
}
.footer .social {
  margin-left: 0;
}

.social ul {
  list-style: none;
  display: flex;
  gap: 5px;
}
.social ul li {
  overflow: hidden;
  width: 50px;
  height: 50px;
  line-height: 60px;
  border-radius: 12px;
  position: relative;
  transition: all 0.5s;
}
.social a {
  width: 100%;
  height: 100%;
  font-size: 1.8em;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social a i {
  font-size: 30px;
  z-index: 2;
}
