* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.headermobile {
  display: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: max-content;
  z-index: 99;
  opacity: 1;
  transition: opacity 0.7s, transform 0.5s;
  transform: translateY(0);
}
a {
  text-decoration: none;
  color: black;
}

.header_top {
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.header_top div {
  position: absolute;
}
.header_top div h1 {
  font-size: 40px;
  margin: 0;
}
.header_top div:nth-child(1) {
  width: 10%;
  left: 2%;
  bottom: 15%;
}
.header_top div input[type="search"] {
  border: none;
  border-bottom: 1px solid rgb(156, 154, 154);
  outline: none;
  color: #333;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  padding-bottom: 5px;
  background-color: whitesmoke;
}

.header_top div:nth-child(2) {
  width: 45%;
  left: 17%;
  bottom: 25%;
}
.header_top div:nth-child(2) i {
  position: absolute;
  transform: translateX(-30px);
  bottom: 20%;
  font-size: 25px;
}
.header_top div:nth-child(3) {
  width: 20%;
  left: 65%;
  height: 100%;
}
.header_top div:nth-child(3) i {
  position: absolute;
  top: 25%;
  /* font-size: 40px; */
  width: auto;
}
.header_top div:nth-child(3) span {
  position: absolute;
  font-size: 20px;
  left: 17%;
}
.header_top div:nth-child(3) span:nth-child(2) {
  opacity: 0.8;
  top: 25%;
}
.header_top div:nth-child(3) span:nth-child(3) {
  top: 49%;
  color: #01aa90;
  font-weight: bold;
}

.header_top a {
  position: absolute;
  text-decoration: none;
  height: auto;
  padding: 11px 20px;
  color: white;
  border-radius: 20px;
  border: none;
}
#dangky {
  background-color: whitesmoke;
  color: black;
  right: 12%;
}
#dangnhap {
  background-color: #01aa90;
  color: white;
  right: 4%;
}
.header_middle {
  width: 100%;
  height: 70px;
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  background-color: white;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
}
.header_middle ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.header_middle ul li a:hover {
  color: #40a578;
}
.header_middle ul li a {
  font-size: 25px;
  display: block;
  border-radius: 20px;
  text-decoration: none;
  margin: 20px 35px auto;
  color: black;
}
.header_middle ul i {
  position: absolute;
  top: 43%;
  font-size: 11px;
  margin-left: 5px;
  transition: transform 0.2s ease;
}

.header_bot {
  width: 13%;
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
  background-color: white;
  left: 35%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header_bot ul li a:hover {
  color: #01aa90;
}
.header_bot ul {
  list-style: none;
}
.header_bot ul li a {
  font-size: 25px;
  padding: 15px 0;
  display: block;
  text-align: center;
}
.img {
  position: relative;
  width: 100%;
  height: 350px;
  margin-top: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.img h1 {
  z-index: 2;
  color: #fff;
  font-size: 40px;
}
.img h2 {
  z-index: 2;
  color: #fff;
  font-size: 25px;
  margin-top: 2%;
}
.gioithieu {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gioithieu p:nth-child(1) {
  font-size: 40px;
  margin: 20px;
  color: #01aa90;
}
.gioithieu p:nth-child(2) {
  font-size: 20px;
  font-weight: bold;
  width: 50%;
  text-align: center;
  margin: 10px;
}
.gioithieu p:nth-child(3) {
  font-size: 20px;
  width: 50%;
  text-align: center;
  margin: 10px;
  line-height: 30px;
}
.sumenh {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  background-color: whitesmoke;

  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sumenh p:nth-child(1) {
  font-size: 40px;
  margin: 20px;
  color: black;
}
.sumenh p:nth-child(2) {
  font-size: 20px;
  font-weight: bold;
  width: 50%;
  text-align: center;
  margin: 10px;
}
.sumenh p:nth-child(3) {
  font-size: 20px;
  width: 50%;
  text-align: center;
  margin: 10px;
  line-height: 30px;
}
.camket {
  position: relative;
  width: 100%;
  height: 500px;
}
.camket p {
  font-size: 40px;
  text-align: center;
  position: relative;
  top: 10%;
}

.camket div {
  position: absolute;
  text-align: center;
  width: 23%;
  height: max-content;
  top: 30%;
}
.camket div p:nth-child(2) {
  font-weight: bold;
  font-size: 25px;
  margin-top: 10%;
}
.camket div p:nth-child(3) {
  font-size: 20px;
  opacity: 0.8;
  margin-top: 5%;
  line-height: 30px;
}
.camket div:nth-child(2) {
  left: 10%;
}
.camket div:nth-child(3) {
  left: 39%;
}
.camket div:nth-child(4) {
  right: 10%;
}
.camket div img {
  width: 80px;
  height: 80px;
}
.footer {
  background-color: #b4f8e457;
  width: 100%;
  height: 400px;
}
.footer .row {
  display: flex;
}
.footer .row .column {
  position: absolute;
  margin-top: 40px;
  width: 20%;
}
.footer .row .column:first-child {
  left: 15%;
}
.footer .row .column:nth-child(2) {
  left: 43%;
}
.footer .row .column:nth-child(3) {
  right: 15%;
}
.footer .row .column:nth-child(4) {
  right: 4%;
}

.footer .desc {
  margin-top: 10px;
  color: black;
  opacity: 0.6;
  font-size: 20px;
  line-height: 28px;
}

.footer h3 {
  font-size: 25px;
  color: black;
}

.footer .list li {
  margin-top: 15px;
  font-size: 20px;
}
.footer .list li a {
  position: relative;
  color: black;
}
.footer .column:nth-child(2) .list li a i,
.footer .column:nth-child(3) .list li a i {
  font-size: 12px;
}
.footer .column:nth-child(2) .list li a:hover,
.footer .column:nth-child(3) .list li a:hover {
  border-bottom: 1px solid black;
}
.footer strong {
  color: black;
}
.footer span {
  color: black;
}
.footer ul {
  list-style: none;
}
.footer .social {
  margin-left: 0;
}

.social ul {
  list-style: none;
  display: flex;
  gap: 5px;
}
.social ul li {
  overflow: hidden;
  width: 50px;
  height: 50px;
  line-height: 60px;
  border-radius: 12px;
  position: relative;
  transition: all 0.5s;
}
.social a {
  width: 100%;
  height: 100%;
  font-size: 1.8em;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social a i {
  font-size: 30px;
  z-index: 2;
}
