* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
header {
  display: none;
}
.headermobile {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 98;
  opacity: 1;
  background-color: white;
}
.headermobile ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
}
.headermobile ul li {
  margin: 0 10px;
  display: flex;
  align-items: center;
  height: 100%;
}
.headermobile ul li i {
  font-size: 23px;
  cursor: pointer;
}
.headermobile ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  border-radius: 20px;
  padding: 8px 15px;
  background-color: #01aa90;
  border: none;
}
.headermobile .menu {
  position: fixed;
  top: 0;
  width: 0;
  height: 1200px;
  z-index: 99;
  background-color: white;
  overflow: hidden;
}
.headermobile .menu .menutop {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 7%;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.223);
  padding: 0 15px;
}
.menu .menubot {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 10px;
  width: 100%;
  height: 85%;
  border-bottom: 1px solid black;
}
.menu .menubot div {
  margin: 20px 10px;
  font-size: 20px;
}

.menu .menubot div a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.menu .menubot div a:hover {
  color: #01aa90;
  transition: 0.2s ease;
}
.menu .menutop i {
  cursor: pointer;
  font-size: 22px;
}
.menu .menubot .banmuondidau div {
  display: none;
  margin: 0;
  margin-top: 20px;
}
.menu .menubot .banmuondidau div a {
  font-weight: 100;
}
.body {
  margin-top: 20%;
  width: 100%;
  height: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.left {
  width: 100%;
  height: 50%;
}
.right {
  width: 100%;
  height: 50%;
}
.right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.thongtin {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0%;
}
.thongtin h2 {
  position: absolute;
}
.thongtin i {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  border: 1px solid black;
}
.thongtin i:nth-child(2) {
  top: 7%;
  left: 2%;
}
.thongtin i:nth-child(3) {
  top: 7%;
  right: 30%;
}
.thongtin i:nth-child(4) {
  left: 2%;
  top: 25%;
}
.thongtin i:nth-child(5) {
  top: 25%;
  right: 30%;
}
.thongtin p {
  font-size: 15px;
  font-weight: bold;
  position: absolute;
}
.thongtin span {
  position: absolute;
}
.thongtin p:nth-child(6) {
  top: 7%;
  left: 10%;
}
.thongtin p:nth-child(7) {
  top: 7%;
  left: 72%;
}
.thongtin p:nth-child(8) {
  top: 25%;
  left: 10%;
}
.thongtin p:nth-child(9) {
  top: 25%;
  left: 72%;
}
.thongtin span:nth-child(10) {
  top: 11%;
  left: 10%;
}
.thongtin span:nth-child(11) {
  top: 11%;
  left: 72%;
}
.thongtin span:nth-child(12) {
  top: 29%;
  left: 10%;
}
.thongtin span:nth-child(13) {
  top: 29%;
  left: 72%;
}
.thongtin h2:nth-child(14) {
  top: 35%;
}
.thongtin input {
  padding-left: 15px;
  position: absolute;
  width: 48%;
  height: 45px;
  border: 1px solid rgb(190, 181, 181);
  outline: none;
}
.thongtin input[placeholder="Tên của bạn"] {
  width: 100%;
}

.thongtin input:nth-child(15) {
  top: 42%;
}
.thongtin input:nth-child(16) {
  top: 52%;
}
.thongtin input:nth-child(17) {
  top: 52%;
  right: 0;
}
.thongtin textarea {
  position: absolute;
  width: 100%;
  height: 170px;
  top: 62%;
  border: 1px solid rgb(190, 181, 181);
  padding: 15px;
  outline: none;
}
.thongtin a {
  position: absolute;
  text-decoration: none;
  height: auto;
  padding: 11px 15px;
  color: white;
  border-radius: 20px;
  border: none;
  background-color: #01aa90;
  top: 88%;
  font-size: 15px;
}
.footer {
  margin-top: 50px;
  background-color: #b4f8e457;
  width: 100%;
  height: 800px;
}
.footer .row {
  display: flex;
  flex-direction: column;
}
.footer .row .column {
  margin-top: 40px;
  width: 100%;
  padding-left: 20px;
}

.footer .desc {
  margin-top: 10px;
  color: black;
  opacity: 0.6;
  font-size: 20px;
  line-height: 28px;
}

.footer h3 {
  font-size: 25px;
  color: black;
}

.footer .list li {
  margin-top: 15px;
  font-size: 20px;
}
.footer .list li a {
  position: relative;
  color: black;
}
.footer .column:nth-child(2) .list li a i,
.footer .column:nth-child(3) .list li a i {
  font-size: 12px;
}
.footer .column:nth-child(2) .list li a:hover,
.footer .column:nth-child(3) .list li a:hover {
  border-bottom: 1px solid black;
}
.footer strong {
  color: black;
}
.footer span {
  color: black;
}
.footer ul {
  list-style: none;
}
.footer .social {
  margin-left: 0;
}

.social ul {
  list-style: none;
  display: flex;
  gap: 5px;
}
.social ul li {
  overflow: hidden;
  width: 50px;
  height: 50px;
  line-height: 60px;
  border-radius: 12px;
  position: relative;
  transition: all 0.5s;
}
.social a {
  width: 100%;
  height: 100%;
  font-size: 1.8em;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social a i {
  font-size: 30px;
  z-index: 2;
}
