* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: max-content;
  z-index: 99;
  opacity: 1;
  transition: opacity 0.7s, transform 0.5s;
  transform: translateY(0);
}
a {
  text-decoration: none;
  color: black;
}

.header_top {
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.header_top div {
  position: absolute;
}
.header_top div:nth-child(1) {
  width: 10%;
  left: 2%;
  font-size: 20px;
  bottom: 15%;
}
.header_top div input[type="search"] {
  border: none;
  border-bottom: 1px solid rgb(156, 154, 154);
  outline: none;
  color: #333;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  padding-bottom: 5px;
  background-color: whitesmoke;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
.header_top div input::placeholder {
  animation: typing 2s, cursor 0.4s step-end infinite alternate;
}
.header_top div:nth-child(2) {
  width: 45%;
  left: 17%;
  bottom: 25%;
}
.header_top div:nth-child(2) i {
  position: absolute;
  right: 0;
  bottom: 20%;
  font-size: 25px;
}
.header_top div:nth-child(3) {
  width: 20%;
  left: 65%;
  height: 100%;
}
.header_top div:nth-child(3) i {
  position: absolute;
  top: 25%;
  font-size: 40px;
  width: auto;
}
.header_top div:nth-child(3) span {
  position: absolute;
  font-size: 20px;
  left: 17%;
}
.header_top div:nth-child(3) span:nth-child(2) {
  opacity: 0.8;
  top: 25%;
}
.header_top div:nth-child(3) span:nth-child(3) {
  top: 49%;
  color: #01aa90;
  font-weight: bold;
}

.header_top a {
  position: absolute;
  text-decoration: none;
  height: auto;
  padding: 11px 20px;
  color: white;
  border-radius: 20px;
  border: none;
}
#dangky {
  background-color: whitesmoke;
  color: black;
  right: 12%;
}
#dangnhap {
  background-color: #01aa90;
  color: white;
  right: 4%;
}
.header_middle {
  width: 100%;
  height: 70px;
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  background-color: white;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
}
.header_middle ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.header_middle ul li a:hover {
  color: #40a578;
}
.header_middle ul li a {
  font-size: 25px;
  display: block;
  border-radius: 20px;
  text-decoration: none;
  /* padding: 15px; */
  margin: 20px 35px auto;
  color: black;
}
.header_middle ul i {
  position: absolute;
  top: 43%;
  font-size: 11px;
  margin-left: 5px;
  transition: transform 0.2s ease;
}

.header_bot {
  width: 13%;
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
  background-color: white;
  left: 30.5%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header_bot ul li a:hover {
  color: #01aa90;
}
.header_bot ul {
  list-style: none;
}
.header_bot ul li a {
  font-size: 25px;
  margin: 30px 0;
  display: block;
  text-align: center;
}
.body {
  margin-top: 12%;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.left {
  width: 48%;
  height: 100%;
}
.right {
  width: 48%;
  height: 100%;
}
.right img {
  height: 100%;
  width: 70%;
  object-fit: cover;
}
.thongtin {
  width: 65%;
  height: 100%;
  position: relative;
  top: 0;
  left: 25%;
}
.thongtin h2 {
  position: absolute;
}
.thongtin i {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  border: 1px solid black;
}
.thongtin i:nth-child(2) {
  top: 7%;
  left: 2%;
}
.thongtin i:nth-child(3) {
  top: 7%;
  right: 30%;
}
.thongtin i:nth-child(4) {
  left: 2%;
  top: 25%;
}
.thongtin i:nth-child(5) {
  top: 25%;
  right: 30%;
}
.thongtin p {
  font-size: 15px;
  font-weight: bold;
  position: absolute;
}
.thongtin span {
  position: absolute;
}
.thongtin p:nth-child(6) {
  top: 7%;
  left: 12%;
}
.thongtin p:nth-child(7) {
  top: 7%;
  left: 72%;
}
.thongtin p:nth-child(8) {
  top: 25%;
  left: 12%;
}
.thongtin p:nth-child(9) {
  top: 25%;
  left: 72%;
}
.thongtin span:nth-child(10) {
  top: 11%;
  left: 12%;
}
.thongtin span:nth-child(11) {
  top: 11%;
  left: 72%;
}
.thongtin span:nth-child(12) {
  top: 29%;
  left: 12%;
}
.thongtin span:nth-child(13) {
  top: 29%;
  left: 72%;
}
.thongtin h2:nth-child(14) {
  top: 35%;
}
.thongtin input {
  padding-left: 15px;
  position: absolute;
  width: 48%;
  height: 45px;
  border: 1px solid rgb(190, 181, 181);
  outline: none;
}
.thongtin input[placeholder="Tên của bạn"] {
  width: 100%;
}

.thongtin input:nth-child(15) {
  top: 42%;
}
.thongtin input:nth-child(16) {
  top: 52%;
}
.thongtin input:nth-child(17) {
  top: 52%;
  right: 0;
}
.thongtin textarea {
  position: absolute;
  width: 100%;
  height: 170px;
  top: 62%;
  border: 1px solid rgb(190, 181, 181);
  padding: 15px;
  outline: none;
}
.thongtin a {
  position: absolute;
  text-decoration: none;
  height: auto;
  padding: 11px 20px;
  color: white;
  border-radius: 20px;
  border: none;
  background-color: #01aa90;
  top: 93%;
}
.footer {
  background-color: #b4f8e457;
  width: 100%;
  height: 400px;
}
.footer .row {
  display: flex;
}
.footer .row .column {
  position: absolute;
  margin-top: 40px;
  width: 20%;
}
.footer .row .column:first-child {
  left: 15%;
}
.footer .row .column:nth-child(2) {
  left: 43%;
}
.footer .row .column:nth-child(3) {
  right: 15%;
}
.footer .row .column:nth-child(4) {
  right: 4%;
}

.footer .desc {
  margin-top: 10px;
  color: black;
  opacity: 0.6;
  font-size: 20px;
  line-height: 28px;
}

.footer h3 {
  font-size: 25px;
  color: black;
}

.footer .list li {
  margin-top: 15px;
  font-size: 20px;
}
.footer .list li a {
  position: relative;
  color: black;
}
.footer .column:nth-child(2) .list li a i,
.footer .column:nth-child(3) .list li a i {
  font-size: 12px;
}
.footer .column:nth-child(2) .list li a:hover,
.footer .column:nth-child(3) .list li a:hover {
  border-bottom: 1px solid black;
}
.footer strong {
  color: black;
}
.footer span {
  color: black;
}
.footer ul {
  list-style: none;
}
.footer .social {
  margin-left: 0;
}

.social ul {
  list-style: none;
  display: flex;
  gap: 5px;
}
.social ul li {
  overflow: hidden;
  width: 50px;
  height: 50px;
  line-height: 60px;
  border-radius: 12px;
  position: relative;
  transition: all 0.5s;
}
.social a {
  width: 100%;
  height: 100%;
  font-size: 1.8em;
  background: transparent;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: icon-out 0.5s forwards;
  animation-timing-function: cubic-bezier(0.5, -0.6, 1, 1);
}
.social a i {
  font-size: 30px;
  z-index: 2;
}
.social ul li::before {
  content: "";
  width: 90px;
  height: 70px;
  background: var(--clr);
  display: block;
  position: absolute;
  transform: rotate(-45deg) translate(-110%, -23px);
  animation: back-out 0.5s forwards;
  animation-timing-function: cubic-bezier(0.5, -0.6, 1, 1);
}
.social li:hover a {
  animation: icon-in 0.5s forwards;
  animation-timing-function: cubic-bezier(0, 0, 0.4, 1.6);
}
.social li:hover::before {
  animation: back-in 0.5s forwards;
  animation-timing-function: cubic-bezier(0, 0, 0.4, 1.6);
}
@keyframes back-in {
  0% {
    transform: rotate(-45deg) translate(-110%, -23px);
  }
  80% {
    transform: rotate(-45deg) translate(5%, -23px);
  }
  100% {
    transform: rotate(-45deg) translate(0%, -23px);
  }
}
@keyframes back-out {
  0% {
    transform: rotate(-45deg) translate(0%, -23px);
  }
  20% {
    transform: rotate(-45deg) translate(5%, -23px);
  }
  100% {
    transform: rotate(-45deg) translate(-120%, -23px);
  }
}
@keyframes icon-in {
  0% {
    font-size: 1.3em;
  }
  80% {
    color: #fff;
    font-size: 1.75em;
  }
  100% {
    color: #fff;
    font-size: 1.7em;
  }
}
@keyframes icon-out {
  0% {
    color: #fff;
    font-size: 1.7em;
  }
  20% {
    color: #fff;
    font-size: 1.75em;
  }
  100% {
    font-size: 1.5em;
  }
}
